.auth {
	height: 100vh;
	display: flex;
	background-image: url('../assets/bg.jpg');
	background-size: cover;
	&_side {
		width: 50%;
		position: relative;
		z-index: 0;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 200%;
			height: 100vh;
			background-color: #29395691;
			z-index: 1;
		}
	}
	&_main {
		z-index: 1;
		background-color: #f6fdff;
		height: 50vh;
		margin: auto;
		padding: 12px;
		border-radius: 5px;
		box-shadow: 0 0 14px #dcdcdc6b;
	}
}
