.input {
	padding: 12px;
	margin: 15px 0;
	display: flex;
	border: 3px solid white;
	position: relative;
	&_title {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		pointer-events: none;
		transition: 0.3s;
		padding: 3px;
	}
	&:focus-within {
		.input_title {
			top: 0;
			left: 0;
			background: #000000;
		}
	}

	.up {
		top: 0;
		left: 0;
		background: #000000;
	}
	&_field {
		border: 0;
		background: transparent;
		outline: 0;
		padding: 5px;
		color: white;
		&::placeholder {
			color: #ffffff00;
		}
	}
}
