* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import 'variables';
@font-face {
	font-family: 'popins';
	src: url('../assets/Poppins-Regular.ttf');
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}
body {
	font-family: 'popins';
}

@import 'auth';
@import 'input';
@import 'select';
@import 'sider';

@import 'mediaQueries';
